.dialog-container {
  height: 100%;
  border-radius: 5px;
  background-color: tomato;
  margin: 0;
}
.form-style {
  background-color: lavender;
  border: 1px solid transparent;
  padding: 20px;
  border-radius: 5px;
}
.cross-style {
  margin-right: 25px;
  cursor: pointer;
}


