.social {
  height: 60%; 
  width: auto;
  opacity: 0.5;
}
.social:hover {
  opacity: 1;
}
.main-heading {
font-family: 'Open Sans', sans-serif;
}
.gradient-bg {
  background-image: radial-gradient(whitesmoke, rgba(0,255,0,0.3)), url("https://preview.pixlr.com/images/800wm/1084/1/1084104514.jpg");
  background-repeat: repeat;
  background-position: center;
}
.rounded-button {
  border-radius: 20px;
}
