<div class="h-100 w-100 d-flex flex-column justify-content-around align-items-center dialog-container">
  <div class="d-flex justify-content-between w-100 pr-10">
    <span></span>
    <h2 >Sign Up </h2>
    <span class="cross-style" (click)="close()">&#10006;</span>
  </div>

  <form class="form-style w-75 mr-5 ml-5" [formGroup]="registrationForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" class="form-control" formControlName="firstNameSignup" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" class="form-control" formControlName="lastNameSignup"/>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input [class.is-invalid]="registrationForm.get('emailSignup').invalid &&
      registrationForm.get('emailSignup').touched" type="text" id="email" class="form-control" formControlName="emailSignup" />
      <small [class.d-none]="registrationForm.get('emailSignup').valid ||
      registrationForm.get('emailSignup').untouched" class="text-danger">Email is required</small>
    </div>

    <div class="form-group">
      <label for="role">Role</label>
      <select class="form-control" formControlName="roleSignup" id="role">
        <option value="admin">Admin</option>
        <option value="pseudo_admin">Pseudo Admin</option>
        <option value="user">User</option>
      </select>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control" formControlName="passwordSignup" matInput/>
          <mat-error *ngIf="registrationForm.hasError('required', 'password')">
            Password is required
          </mat-error>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="reTypePassword">Retype Password</label>
          <input type="password" id="reTypePassword" class="form-control" formControlName="rePasswordSignup" matInput [errorStateMatcher]="matcher"/>
          <mat-error *ngIf="registrationForm.hasError('notSame')">
            Passwords do not match
          </mat-error>
        </div>
      </div>
    </div>


    <div class="form-group">
      <label for="question">Security Question</label>
      <input type="text" id="question" class="form-control" formControlName="securityQuestionSignup" />
    </div>

    <div class="form-group">
      <label for="answer">Answer</label>
      <input type="text" id="answer" class="form-control" formControlName="securityAnswerSignup" />
    </div>

    <div class="form-group">
      <ngx-recaptcha2
        [siteKey]=siteKey
        (success)="captchaSuccess($event)"
        formControlName="recaptcha">
      </ngx-recaptcha2>
    </div>



    <button class="btn btn-primary form-control" (click)="onSignUp()" [disabled]="!botCheckPass">Signup</button>
    <small *ngIf="userRegistered === false">{{registrationFailure}}</small>
  </form>

</div>

