<div class="overflow-hidden w-100 d-flex flex-column justify-content-around align-items-center" [ngClass]="theme==='color'?'main-container':'main-container-dark'">
  <div class="details-form">
    <form style="width: 800px"> <!-- [formGroup]="contactUsForm" -->
      <div class="form-group group" style="margin-top: 20px">
        <mat-form-field appearance="outline" class="mat-form-field">
          <mat-label>Ticket ID</mat-label>
          <input matInput formControlName="ticketid">
        </mat-form-field>
        <mat-form-field appearance="outline" class="mat-form-field">
          <mat-label>Message</mat-label>
          <textarea matInput rows="10" cols="100" formControlName="message"></textarea>
        </mat-form-field>
        <button type="submit" value="Add" (click)="onSend()" [ngClass]="theme==='color'?'button':'button-dark'">Add</button>
      </div>
    </form>
  </div>
</div>

<div [ngClass]="theme==='color'?'main-container':'main-container-dark'"> <!-- class="mat-elevation-z8" -->
  <table>
    <td style="padding-top: 20px">
      <mat-form-field>
        <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
      </mat-form-field>
    </td>
  </table>
  <table mat-table [dataSource]="dataSource" matSort >

    <!-- Time Column -->
    <ng-container matColumnDef="timestamp">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Time </th>
      <td mat-cell *matCellDef="let element"> {{element.timestamp}} </td>
    </ng-container>

    <!-- FTicket ID Column -->
    <ng-container matColumnDef="ticketid">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Ticket ID </th>
      <td mat-cell *matCellDef="let element"> {{element.ticketid}} </td>
    </ng-container>

    <!-- User ID Column -->
    <ng-container matColumnDef="userid">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> User ID </th>
      <td mat-cell *matCellDef="let element"> {{element.userid}} </td>
    </ng-container>

    <!-- Full Name Column -->
    <ng-container matColumnDef="fullname">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Full Name </th>
      <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
    </ng-container>

    <!-- Message Column -->
    <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef> Message </th>
      <td mat-cell *matCellDef="let element"> {{element.message}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>


