.main-container {
}
.main-container-dark {
  filter: grayscale(100%);
}

.contactus-form .group .label,
.contactus-form .group .input,
.contactus-form .group .button,
.contactus-form .group .button-dark{
  width:100%;
  color:#fff;
  display:block;
}
.contactus-form .group .input,
.contactus-form .group .button,
.contactus-form .group .button-dark{
  border:none;
  padding:15px 20px;
  border-radius:25px;
  background:rgba(255,255,255,.1);
}

.contactus-form .group .button{
  background-color: var(--mainColor);
  font-size:18px;
}
.contactus-form .group .button-dark{
  background: var(--grayColor);
  font-size:18px;
}

.mat-form-field{ width: 100%; }
