<div id="dialog-container" class="d-flex flex-column justify-content-between h-100">
  <div class="mt-0 pt-3 pr-3 pl-3" [ngClass]="theme==='color'?'theme-bg':'theme-dark-bg'">
    <p class="titleText">DELETE &nbsp; <span *ngIf="itemType">{{itemType | uppercase}}</span>
      <mat-icon style="float: right;"
                (click)="close(false)" matSuffix id="close-icon">close
      </mat-icon>
    </p>
  </div>

  <p>Are you sure you would like to delete <span *ngIf="itemName">{{itemName}}</span> ?</p>

  <div class="w-100 d-flex justify-content-around mb-4">
    <button class="btn" [ngClass]="theme==='color'?'btn-danger':'theme-dark-bg'" (click)="close(true)">DELETE</button>
    <button class="btn" [ngClass]="theme==='color'?'btn-outline-success':'theme-dark-bg-inverse-extra'" (click)="close(false)">CANCEL</button>
  </div>

</div>
