::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  opacity: 0.5 !important;     /*click effect color change*/
  background-color: transparent !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: whitesmoke!important;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color:whitesmoke!important; /*outer ring color change*/
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: whitesmoke !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: whitesmoke !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: whitesmoke !important;;
}
