<div class="container-fluid d-flex flex-column justify-content-around" style="background-image: linear-gradient(#F58634,#007965);background-position: center;background-repeat: no-repeat;background-size: cover;">
  <div class="row dialog-header" style="background-color: #007965;margin-bottom:10px;">
    <mat-toolbar class="d-flex justify-content-between" style="background-color: #F58634;">
      <h3 style="font-family: Arial" class="myClass font-color-white" [hidden]="getIsEditing()">{{"New Recipe" | uppercase}}</h3>

      <h3 class="myClass font-color-navy" [hidden]="!getIsEditing()">{{"Edit Recipe" | uppercase}}</h3>
      <a id="close-btn" class="cursor-pointer align-self-start mt-3">
        <mat-icon matSuffix (click)="close()">close</mat-icon>
      </a>
    </mat-toolbar>
  </div>
  <!--<div class="row" style="height: 100px">
    <div class="col-md-12 d-flex justify-content-between align-items-center" style="background-color: #FFC107">
      <span></span>
      <h1 class="myClass font-color-navy" [hidden]="getIsEditing()">{{"New Recipe" | uppercase}}</h1>
      <h1 class="myClass font-color-navy" [hidden]="!getIsEditing()">{{"Edit Recipe" | uppercase}}</h1>
      <a id="close-btn" class="cursor-pointer align-self-start mt-3">
        <mat-icon matSuffix (click)="close()">close</mat-icon>
      </a>
    </div>
  </div>-->

  <div class="row">
    <form [formGroup]="recipeForm">
      <div class="form-group row">
        <div class="col-sm-5">
          <img src="{{imgSrc}}" (error)="brokenLink()">
        </div>
        <div class="col-sm-7">
          <mat-form-field class="col-sm-12 pl-0">

            <input matInput type="text" id="recipe-name" placeholder="Recipe Name" formControlName="recipeName" />
          </mat-form-field>
          <div class="col-sm-12 pl-0" style="margin-bottom:20px;">
            <mat-label class="font-color-navy">Price: </mat-label>
            <div class="d-flex flex-row price border border-2 border-secondary rounded">
              <mat-icon class="cursor-pointer mr-1 border-right border-2 border-secondary" (click)="increasePrice()">add</mat-icon>
              <input matInput type="number" step="0.01" onblur="this.parentNode.parentNode.style.backgroundColor=/^\d+(?:\.\d{1,2})?$/.test(this.value)?'inherit':'red'" pattern="^\d*(\.\d{0,2})?$" [formControl]="price" value="{{price | number : '4.2'}}" style="text-align:center;" />
              <mat-icon class="cursor-pointer ml-1 border-left border-2 border-secondary" (click)="decreasePrice()">remove</mat-icon>
            </div>
          </div>
          <mat-form-field class="col-sm-12 pl-0" matTooltip="Past/Type image link">
            <input matInput type="text" [formControl]="imageLink" placeholder="Insert Image URL" class="border-box-text-field" (blur)="updateImageSource($event)" />
          </mat-form-field>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="">
        <div class="form-group row col-sm-12">

          <div class="col-sm-6">
            <h4 class="font-color-red">New Ingredients</h4>
          </div>
          <div class="col-sm-6">
            <a style="background-color: #F58634; border-color: #F58634"  href="javascript:;" matTooltip="Create New Ingredient" class="btn btn-warning btn-xs pull-right" (click)="openAddNewIngredientDialog()">Add Ingredient</a>
          </div>
        </div>
        <div class="clearfix"></div>
        <hr />
        <div class="clearfix"></div>
        <div formArrayName="recipes" class="form-group row col-sm-12">
          <div *ngFor="let recipe of recipeForm.get('recipes')['controls']; let i = index" [formGroupName]="i"
               class="row d-flex justify-content-around" style="margin-left:3px;">
            <mat-form-field class="col-md-4">
              <input matInput #name type="text" formControlName="ingredientName"
                     placeholder="Ingredient Name" id="specialty-{{i}}" (input)="ingredientNameInputChange$.next(name.value)"
                     [matAutocomplete]="ingredientAutocomplete" />
              <mat-spinner *ngIf="searching"></mat-spinner>

              <mat-autocomplete #ingredientAutocomplete="matAutocomplete"
                                [displayWith]="getIngredientDisplayName"
                                (optionSelected)="ingredientSelected($event, i)">

                <mat-option *ngFor="let option of filteredOptionsIngredientName | async"
                            [value]="option.ingredientId">{{option.ingredientName}}</mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="col-md-2">
              <input matInput type="text" formControlName="calorie" placeholder="Calorie" [readonly]="true">
            </mat-form-field>

            <mat-form-field class="col-md-2">
              <input matInput type="number" min="1" formControlName="quantity" placeholder="Quantity" (change)="quantityChanged($event, i)" />
            </mat-form-field>

            <mat-form-field class="col-md-2">
              <mat-select formControlName="unit" placeholder="Unit">
                <mat-option value="grams">Grams</mat-option>
                <mat-option value="kg">KG</mat-option>
                <mat-option value="ml">ml</mat-option>
                <mat-option value="liter">Liters</mat-option>
                <mat-option value="tbsp">Table spoon</mat-option>
                <mat-option value="tsp">Tea spoon</mat-option>
                <mat-option value="dessertspoon ">Dessert Spoon</mat-option>
                <mat-option value="piece">Piece</mat-option>
              </mat-select>
            </mat-form-field>

            <div class="col-md-2">
              <button class="float-left" mat-icon-button color="primary" aria-label="Remove/clear"
                      (click)="removeOrClearRecipe(i)" matTooltip="Remove">
                <mat-icon>highlight_off</mat-icon>
              </button>
              <button class="float-left" mat-icon-button color="primary" aria-label="Add"
                      (click)="addRecipeFormGroup()" matTooltip="Add">
                <mat-icon>add_circle_outline</mat-icon>
              </button>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="form-group col-sm-12">
          <mat-form-field matTooltip="Past/Type cooking instructions" style="width:100%">
            <textarea matInput [formControl]="recipeInstruction" placeholder="Instruction" rows="6" class="border-box-text-field"></textarea>
          </mat-form-field>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 d-flex flex-column justify-content-around align-items-end">

          <button style="background-color: #00AF91; border-color: #00AF91"  class="btn btn-primary form-control" id="saveButton"  [hidden]="getIsEditing()" (click)="saveRecipe()">Save Recipe</button>
          <button class="btn btn-primary form-control" id="editButton" [hidden]="!getIsEditing()" (click)="editRecipe()">Edit Recipe</button>
        </div>
      </div>
    </form>
  </div>
</div>
