.button,
.button-dark{
  font-size:18px;
  text-transform:uppercase;
  width:40%;
  color:#fff;
  display:inline;
  border:none;
  padding:15px 20px;
  border-radius:25px;
  margin: 0px 5px 20px 5px;
}

.button{
  background-color: var(--mainColor);
}

.button-dark{
  background: var(--grayColor);
}

h2 {
  color: gray;
  margin: 20px;
}

div {
  margin: auto;
  text-align: center;
  vertical-align: middle;
}
