<div [ngClass]="theme==='color'?'main-container':'main-container-dark'"> <!-- class="mat-elevation-z8" -->
  <table>
    <td style="padding-top: 20px">
      <mat-form-field>
        <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
      </mat-form-field>
    </td>
  </table>
  <table mat-table [dataSource]="dataSource" matSort >

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="firstname">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lastname">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>


