<div [ngClass]="theme==='color'?'main-container':'main-container-dark'"> <!-- class="mat-elevation-z8" -->
  <table>
    <td style="padding-top: 20px">
      <mat-form-field>
        <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
      </mat-form-field>
    </td>
  </table>
  <table mat-table [dataSource]="dataSource" matSort >

    <!-- Ticket ID Column -->
    <ng-container matColumnDef="ticketid">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Ticket ID </th>
      <td mat-cell *matCellDef="let element"> {{element.ticketid}} </td>
    </ng-container>

    <!-- Customer Full Name -->
    <ng-container matColumnDef="customerfullname">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Customer Full Name </th>
      <td mat-cell *matCellDef="let element"> {{element.customerfullname}} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <!-- More Column -->
    <ng-container matColumnDef="more">
      <th mat-header-cell *matHeaderCellDef> More </th>
      <td mat-cell *matCellDef="let element">
        <a class="cursor-pointer" (click)="openDetails()"><mat-icon>open_in_new</mat-icon></a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>


