<div class="container-fluid dialog-wrapper">
  <div class="row dialog-header">

    <mat-toolbar class="d-flex justify-content-between">
      <span *ngIf="recipeDetail && recipeDetail.recipeName">{{recipeDetail.recipeName}}</span>
      <a id="close-btn" class="cursor-pointer">
        <mat-icon matSuffix (click)="close()">close</mat-icon>
      </a>
    </mat-toolbar>



  </div>
  <div class="row dialog-main">
    <div class="col-md-7 d-flex justify-content-around align-items-center">
      <img *ngIf="recipeDetail &&recipeDetail.recipePhoto" src="{{recipeDetail.recipePhoto}}" height="100%">
    </div>
    <div class="col-md-5 d-flex flex-column justify-content-around align-items-start"  *ngIf="recipeDetail" style="height: 440px;max-height: 440px; overflow: auto;">
      <div class="w-100 d-flex justify-content-between align-items-center flex-column border-bottom">
        <span style="font-size: xxx-large;margin-bottom: 20px" *ngIf="recipeDetail && recipeDetail.recipeName">{{recipeDetail.recipeName}}</span>
        <small style="font-family: 'Arial Black',serif"> ${{recipeDetail.price}} </small>
      </div>

      <div class="d-flex justify-content-around w-100">
        <span class="d-flex justify-content-around align-items-center border border-secondary rounded cursor-pointer bg-warning button-span"><mat-icon>add</mat-icon>Add</span>
        <span class="d-flex justify-content-around align-items-center border border-secondary rounded cursor-pointer button-span"><mat-icon>save</mat-icon>Text</span>
      </div>

    </div>
  </div>

  <div class="row dialog-detail">
    <div *ngIf="recipeDetail && recipeDetail.description" class="col-md-12 d-flex justify-content-around align-items-center" style="font-family:Arial,monospace;font-size: large;font-weight: bold;padding: 20px 40px;color: #107896;text-align: justify">

      {{recipeDetail.description}}

    </div>
  </div>
</div>
