<div class="container-fluid dialog-wrapper"style="height:100%;background-image: url('./assets/Images/AddrecipeImage.png');background-position: center;background-repeat: no-repeat;background-size: cover;">
  <div class="row dialog-header">

    <mat-toolbar class="d-flex justify-content-between" style="background-color: #FFC107;">
      <span *ngIf="recipeDetail && recipeDetail.recipeName">Recipe Detail</span>
      <a id="close-btn" class="cursor-pointer">
        <mat-icon matSuffix (click)="close()">close</mat-icon>
      </a>
    </mat-toolbar>



  </div>
  <div class="row dialog-main">
    <div class="form-group row">
      <div class="col-sm-6">
      <img *ngIf="recipeDetail &&recipeDetail.recipePhoto" style="margin-left:10px" src="{{recipeDetail.recipePhoto}}">
      </div>
      <div class="col-sm-6">
        <div class="form-group" *ngIf="recipeDetail">
          <h3 class="text-center" *ngIf="recipeDetail && recipeDetail.recipeName">{{recipeDetail.recipeName}}</h3>
          <p class="text-center"> ( ${{recipeDetail.price}} ) </p>
        </div>
        <!--<div class="form-group">
          <div class="pull-right">
            <span>${{recipeDetail.price}}</span>
            <a href="javascript:;" class="btn btn-warning">Order Now</a>
          </div>
          <div class="clearfix"></div>
        </div>-->
        <div class="form-group">
          <h4>Ingredient's</h4>
          <hr />
          <div class="row">
            <div class="col-sm-1">

            </div>
            <div class="col-sm-10 text-center">
              <div *ngFor="let recipeItem of recipeDetail.recipeItemList">
                <span> {{recipeItem.ingredientName}} </span>
                <hr />
              </div>

            </div>
            <div class="col-sm-1">

            </div>
          </div>
          <!--        Populate ingredient list here-->
          <!--        <ul>-->
          <!--          <li>Tomato</li>-->
          <!--          <li>Cheese</li>-->
          <!--        </ul>-->
          <!--        <span class="d-flex justify-content-around align-items-center border border-secondary rounded cursor-pointer bg-warning button-span"><mat-icon>add</mat-icon>Add</span>-->
          <!--        <span class="d-flex justify-content-around align-items-center border border-secondary rounded cursor-pointer button-span"><mat-icon>save</mat-icon>Text</span>-->
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
      <div class="form-group col-sm-12" *ngIf="recipeDetail && recipeDetail.description">
        <h4>Description</h4>
        <hr />
        <p>{{recipeDetail.description}}</p>
      </div>
  </div>
</div>
