<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Total Recipes</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <h1 class="d-flex flex row justify-content-around display-1 font-weight-bold" style="font-size: xxx-large">{{ 0 }}</h1>
    <mat-card-content>
      <p>
       This represents the total number of recipes in the database.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-grid-list cols="2" rowHeight="450px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card" style="height: 50rem;">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}




            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
          <app-dashboard-recipe-bar-chart></app-dashboard-recipe-bar-chart>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="2" rowHeight="450px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}




            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-dashboard-ingredient-pie-chart></app-dashboard-ingredient-pie-chart>
<!--          <app-dashboard-ingredient-pie-chart></app-dashboard-ingredient-pie-chart>-->
          <app-card title="Product Sales">

          </app-card>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</div>
