<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="d-flex justify-content-start mt-1">
    <mat-slide-toggle (change)="stockDisplayToggled($event)" style="align-self: flex-start">
      <span *ngIf="!showingMyRecipeOnly">Show my recipes only</span>
      <span *ngIf="showingMyRecipeOnly">Show all recipes</span>
    </mat-slide-toggle>
  </div>
  <div class="row">
    <div class="col-md-12 home-header d-flex align-items-center justify-content-around">
      <span class="app-name" appTheme [where]="'themeBgInverse'">Select recipes</span>
    </div>
  </div>

  <div class="row">

    <div class="col-md-12 cards-container d-flex justify-content-around align-items-center flex-wrap align-self-center"
         style="max-height: 800px;overflow: auto" *ngIf="recipeInDisplay">

      <div class="card" appTheme [where]="'themeBg'" style="width: 18rem;margin: 20px;" *ngFor="let item of recipeInDisplay">

        <img class="card-img-top" src="{{item.recipePhoto || fallbackRecipeImage}}" alt="Card image cap" appTheme [where]="'image'" style="width: 100%; height: 220px; object-fit: fill;">
        <div class="card-body d-flex justify-content-between pr-0 border">
          <span class="menu-font-family">{{item.recipeName | titlecase }}</span>
          <div class="w-45 d-flex justify-content-between pr-1">
            <span
              class="cursor-pointer"
              (click)="deleteRecipe(item)"
              *ngIf="currentUser.email === item.userEmail"
              matTooltip="Delete this Recipe"><mat-icon >delete</mat-icon></span>
            <span
              class="cursor-pointer"
              (click)="editRecipe(item)"
              *ngIf="currentUser.email === item.userEmail"
              matTooltip="Edit this Recipe"><mat-icon
            >edit</mat-icon></span>
            <span class="cursor-pointer" (click)="recipeItemClicked(item)" matTooltip="View Recipe Details"><mat-icon
            >open_in_new</mat-icon></span>
          </div>
        </div>
        <div class="card-img-overlay h-25 w-100 d-flex justify-content-between align-self-start pt-3 pr-3">
          <img src="../../assets/icons/price-tag.png" appTheme [where]="'image'"/>
          <span></span>
          <mat-checkbox [checked]="shouldICheck(item)" (change)="recipeAdded($event, item)" matTooltip="Select this recipe"></mat-checkbox>
        </div>

      </div>
      <span *ngIf="recipeInDisplay && recipeInDisplay.length == 0">Ops! Create your recipe!</span>
    </div>

  </div>

  <div class="row fixed-bottom bg-transparent text-dark">
    <div class="col-md-12 d-flex justify-content-end">
      <mat-icon class="pr-5 pb-5 font-weight-bold theme-font"
                style="cursor: pointer;transform: scale(4);"
                (click)="openAddNewRecipeDialog()"
                matTooltip="Add Recipe"
                appTheme [where]="'addRecipeColored'">add_circle</mat-icon>
    </div>
  </div>
</div>


