<!-- Navbar starts here -->

<nav class="navbar navbar-expand-lg navbar-light bg-warning  sticky">
  <a class="navbar-brand" href="#">Grocery App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Options
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Option-1</a>
          <a class="dropdown-item" href="#">Option-2</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Option-3</a>
        </div>
      </li>

    </ul>
    <div class="my-2 my-lg-0" *ngIf="loggedInUser">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{loggedInUser.email}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="#" class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid" *ngIf="!loggedInUser">
  <div class="row">
    <div class="col-md-12 home-header d-flex align-items-center">
      <span>
        <span class="app-name">GroList</span> Your best application for planning grocery trip
      </span>
    </div>
  </div>

  <div class="row d-flex justify-content-between" style="max-height: 50vh;">
    <div class="col-md-6 d-flex justify-content-around align-items-center" style="height: 50vh;border-radius: 5px">
      <img style="border-radius: 5px" src="{{bannerImage | DefaultAvatar: 'https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659652_960_720.png'}}" height="100%">
    </div>
    <div class="col-md-6 pr-10">
      <app-login-auth (isLoggedIn)="login($event)" class="h-100 w-100"></app-login-auth>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="loggedInUser">
  <div class="row">
    <div class="col-md-10 home-header d-flex align-items-center">
        <span class="app-name">Select recipes</span>
    </div>
    <div class="col-md-2 d-flex align-items-center">
      <span class="app-name">Some text at right</span>
    </div>
  </div>
<!--  loggedInUserRecipes-->
  <div class="row">
    <div class="col-md-12 cards-container d-flex justify-content-between align-items-center flex-wrap align-self-center" style="max-height: 600px;overflow: auto" *ngIf="loggedInUserRecipes.value!=null">
        <div class="card" style="width: 18rem;margin: 20px" *ngFor="let item of this.loggedInUserRecipes.value">
          <img class="card-img-top" src="{{item.recipe_photo}}" alt="Card image cap">
          <div class="card-body d-flex justify-content-between">
            <span class="card-text">{{item.recipe_name | titlecase }}</span><span class="cursor-pointer" (click)="recipeItemClicked(item)">More</span>
          </div>
        </div>


    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <span style="cursor: pointer"> + Add your own recipe</span>
    </div>
  </div>
</div>








