<div class="container-fluid" *ngIf="!loggedInUser">
  <div class="row d-flex justify-content-between" style="max-height: 50vh;">
    <div id="bg-test" class="col-md-6 d-flex justify-content-around align-items-center" style="height: 80vh;border-radius: 5px">
      <img style="border-radius: 5px" src="{{bannerImage | DefaultAvatar: 'https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659652_960_720.png'}}" height="100%">
    </div>
    <div class="col-md-6 pr-10">
      <app-login-auth (isLoggedIn)="login($event)" class="h-100 w-100"></app-login-auth>
    </div>
  </div>
</div>



<div class="container-fluid" *ngIf="loggedInUser">
  <div class="row">
    <div class="col-md-12 home-header d-flex align-items-center justify-content-around">
        <span class="app-name font-color-navy">Select recipes</span>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12 cards-container d-flex justify-content-between align-items-center flex-wrap align-self-center"
         style="max-height: 800px;overflow: auto" *ngIf="loggedInUserRecipes.value!=null">

      <div class="card bg-warning" style="width: 18rem;margin: 20px;" *ngFor="let item of this.loggedInUserRecipes.value">
          <img class="card-img-top" src="{{item.recipePhoto}}" alt="Card image cap">
          <div class="card-body d-flex justify-content-between pr-0 border">
            <span class="card-text" style="color: navy">{{item.recipeName | titlecase }}</span>
            <div class="w-45 d-flex justify-content-between pr-1">
              <span class="cursor-pointer" (click)="deleteRecipe(item)" matTooltip="Delete this Recipe"><mat-icon style="color: red">delete</mat-icon></span>
              <span class="cursor-pointer" (click)="editRecipe(item)" matTooltip="Edit this Recipe"><mat-icon style="color: navy">edit</mat-icon></span>
              <span class="cursor-pointer" (click)="recipeItemClicked(item)" matTooltip="View Recipe Details"><mat-icon style="color: navy">open_in_new</mat-icon></span>
            </div>


          </div>
        <div class="card-img-overlay h-25 w-100 d-flex justify-content-end align-self-start pt-3 pr-3">
          <mat-checkbox [checked]="shouldICheck(item)" (change)="recipeAdded($event, item)"></mat-checkbox>
        </div>

        </div>

    </div>
  </div>

  <div class="row fixed-bottom bg-warning text-dark">
    <div class="col-md-12 d-flex justify-content-between">
      <span class="pl-2 font-weight-bold" style="cursor: pointer" (click)="openAddNewRecipeDialog()"> + Add your own recipe</span>
<!--      <span routerLink="/myRecipe" routerLinkActive="bg-light">My Recipe List</span>-->
    </div>
  </div>
</div>








